<nav class="navbar">
    <h1>Blog App</h1>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/add-blog">add blog</a></li>
    </ul>
</nav>