<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %> 

<body>

    <%- include('./partials/nav.ejs') %> 

    <h2 class="title"><%= title %> page</h2>

    <div class="about">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus libero minima dolorem inventore ducimus velit, repellat maiores ut quia enim suscipit commodi.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit sed aperiam minima, natus officia dicta! Error eum quis eveniet quos possimus, tempore, maxime harum ea facere ex suscipit quam cum alias deserunt vitae?
        </p>
    
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias nihil dolores rem soluta cumque sapiente dicta ratione reiciendis, quia sequi maiores minima aut incidunt omnis explicabo? Quae corrupti quasi mollitia! Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eum.
        </p>
        
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure quidem saepe velit soluta laboriosam. Enim atque fugiat in vero!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit reiciendis quas eius possimus aperiam distinctio!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, reprehenderit sint quibusdam vero qui pariatur aliquid. Tempore est animi quod, perferendis expedita quidem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, provident?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla minima aperiam soluta totam eos inventore.
        </p>
    </div>
    
    <%- include('./partials/footer.ejs') %> 

</body>
</html>